<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Note MD</title>
    <link rel="stylesheet" href="css/note.css" />
    <script src="js/marked.min.js"></script>
    <script src="js/vue.js"></script>
</head>

<body>

    <div id="demo">
        <div v-if="edit_mod" class="content">
            <textarea v-if="edit_mod" v-model="raw_markdown" class="editor"></textarea>
            <div class="conrol-pane">
                <button @click="on_click_save">save</button>
                <button @click="on_click_discard">discard</button>
            </div>
        </div>

        <div v-else class="content" @click="on_click_content" v-html='final_markdown' :class="{'text-danger':danger}">
        </div>

    </div>

    <script src="js/note.js"></script>
</body>

</html>